.CallWindow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    display: block;
    margin: auto;
    background-color: #1F1F1F;
}

.CallWindowInactive {
    display: none;
}

.VideoContainers {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.VideoContainer {
    width: 50%;
    height: 100%;
    display: block;
    background: #2E2D2D;
}

.LocalVideo {
    width: 100%;
    height: 100%;
    display: block;
}

.PeerVideo {
    width: 100%;
    height: 100%;
    display: block;
}

.CallButtons {
    z-index: 1999;
    position: absolute;
    display: block;
    bottom: 5%;
    margin: 10px auto 10px auto;
    padding: auto;
    align-self: center;
    /* left: 50%; */
    width: 100%;
}

.ButtonContainer{
    margin: auto;
    width: fit-content;
}

.VideoButton{
    background-image: url('/assets/ic_videocam_24px.png');
}

.AudioButton{
    background-image: url('/assets/ic_mic_off_24px.png');
}

.HangupButton {
    background-color: #E81123;
    margin-right: auto;
    background-image: url('/assets/ic_call_end_24px.png');
}

.UserTokenDisplay {
    color: #E3E9E8;
    background: #1F1F1F;
    width: fit-content;
    height: 25px;
    padding: 5px;
}

.HangupButton:hover{
    background-color: #59030A;
}

@media(max-width: 500px) {
    .VideoContainers{
        flex-direction: column;
        height: 85%;
    }

    .VideoContainer{
        width: 100%;
    }
}