.CallWindow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    display: block;
    margin: auto;
}

.CallWindowInactive {
    display: none;
}

.VideoContainer{
    display: flex;
    flex-direction: row;
}