.CallModal {
    position: fixed;
    left: 40vw;
    top: 50vh;
    display: block;
    width: 20%;
    background-color: #305A55;
    margin: auto;
    border-radius: 6px;
    display: block;
    z-index: 200;
}

.CallModalInactive {
    display: none;
}

.CallModalContent {
    margin: auto;
    width: fit-content;
    padding: 5px;
}

.CallModalButtons{
    margin: auto;
}

.CallText {
    color: #E3E9E8;
    margin-bottom: 30px;
}

.ModalButton {
    background-color: #345A30;
}

.RejectCallButton {
    background-color: #E81123;
}

.button{
    /* padding-left: 5px; */
}