.CallModal {
    position: fixed;
    top: 50vh;
    display: block;
    width: 100%;
    margin: auto;
    z-index: 200;
}

.CallModalInactive {
    display: none;
}

.CallModalContent {
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 280px;
    max-width: 350px;
    padding: 5px;
    background-color: #305A55;
    border-radius: 6px;
}

.CallModalButtons {
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.CallText {
    color: #E3E9E8;
    margin: 0px auto 25px auto;
    text-align: center;
}

.VideoCallButton {
    background-image: url('/assets//ic_videocam_24px.png');
}

.AudioCallButton {
    background-image: url('/assets/ic_phone_24px.png');
}

.RejectCallButton {
    background-color: #E81123 !important;
    background-image: url('/assets/ic_call_end_24px.png');
    margin-right: 0;
}

.CallModalButtons button {
    background-color: #345A30;
}