.CallWindow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    display: block;
    margin: auto;
    background-color: #1F1F1F;
}

.CallWindowInactive {
    display: none;
}

.VideoContainers {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.VideoContainer {
    width: 50%;
    height: 100%;
    display: block;
    background: #2E2D2D;
}

.LocalVideo {
    width: 100%;
    height: 100%;
    display: block;
}

.PeerVideo {
    width: 100%;
    height: 100%;
    display: block;
}

.CallButtons {
    z-index: 1999;
    position: fixed;
    display: block;
    bottom: 5%;
    margin: auto;
    left: 50vw;
    width: fit-content;
}

.HangupButton {
    background-color: #E81123;
    margin-left: 0;
}

.UserTokenDisplay {
    color: #E3E9E8;
    background: #1F1F1F;
    width: fit-content;
    height: 30px;
    padding: 5px;
}

.HangupButton:hover{
    background-color: #59030A;
}